services:
  redis:
    image: redis:latest
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./_redis/data:/data

  mongodb:
    image: mongo:latest
    ports:
      - "${MONGO_PORT}:27017" 
    volumes:
      - ./_mongodb/data:/data/db

